@charset "UTF-8";
*{
    font-family: math;
}

body.home{
    background: linear-gradient(45deg, #49a768, #1a532d);
    margin: 0px;
    padding: 0px;
    color: black;
}

body.tabela_brasileirao{
    background: rgb(189, 232, 223);
    margin: 0px;
    padding: 0px;
    color: black;
}

body.noticias{
    background: rgb(189, 232, 223);
    margin: 0px;
    padding: 0px;
    color: black;
}

main.noticias {
    background-color: whitesmoke;
    padding: 15px; 
    border-radius: 10px;
    max-width: 800px; 
    margin: 20px auto;
}

main.tabela {
    background-color: whitesmoke;
    padding: 15px; 
    border-radius: 10px;
    max-width: 800px; 
    margin: 20px auto;
}

main.home {
    background-color: none;

    border-radius: 10px;
    max-width: 800px; 
    margin: 20px auto;
}

h2 {
    margin-right: 10px;
}



.nav ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

@media (max-width: 1024px) {
    main {
        max-width: calc(100% - 100px); 
    }
}

@media (max-width: 768px) {
    main {
        max-width: calc(100% - 40px); 
    }
}


.container {
    width: 97%;
    display: inline-flex;
    padding: 10px; 
}
.topo {
    background-image: linear-gradient(to bottom, #00F5A3, #324B42);
    color: white;
    text-align: center;
    width: auto;
    margin: 0px;
    padding: 50px;
}

header.cabeca {
    background-color: #324B42;
    align-content:start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

header.home {
    background-color:none;
    align-content:start;
    align-items: center;
    width: 100%;
    margin: 0px;
}

.menu {
  
    font-size: 18px;
    color: white;
}

a {
    color: white;
    margin-left: 20px;
}
a:link, a:visited, a:active {
	text-decoration: none;
	}
a:hover {
    text-decoration: underline;
	color: greenyellow;
	}

.sociais {
    font-size: 24px;
    text-align: end;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 75%;
    
}

.logo img{
    width: 0px;
}

.menu {
    width: 50%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 148, 66);
    height: 8vh;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.img.centro {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.link:hover {
    background-color: #0056b3;
}

main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
}
footer {
    background-color: #00F5A3;
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
aside {
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
}

aside > li {
    list-style-position: inside;
    columns: 2;
}

div.video {
    background-color: #0056b3;
    margin: -5px -5px 20px -5px;
    padding: 90px;
    position: relative;
}

div.video > iframe {
    position: inside;
    
}


table {
    border-collapse: collapse;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0 auto;
    overflow-x: auto; 
        
}

td:nth-child(odd) {
    background-color: white;
}

td:nth-child(even) {
    background-color: rgba(70, 209, 255, 0.212);
}


th:nth-child(odd) {
    background-color: white;
}

th:nth-child(even) {
    background-color: rgba(70, 209, 255, 0.212);
    border-radius: 10px 10px 0px 0px;
}

th, td {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
}



td.time {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: left;
}

td.posicionLibertadores {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:rgb(130, 0, 255);
    font-size: 40px;
}

td.posicionPreLibertadores {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:rgb(65, 255, 255);
    font-size: 40px;
}

td.posicionSulAmerica {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:rgb(0, 128, 64);
    font-size: 40px;
}

td.posicionManteve {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:rgb(179, 153, 153);
    font-size: 40px;
}

td.posicionRebaixados {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:red;
    font-size: 40px;
}


span.last_games_v {
    display: inline-block; 
    color: green; 
    background-color: green; 
    width: 6px; 
    height: 6px; 
    border-radius: 50%; 
}

span.last_games_d {
    display: inline-block; 
    color: red; 
    background-color: red; 
    width: 6px; 
    height: 6px; 
    border-radius: 50%; 
}
span.last_games_e {
    display: inline-block; 
    color:grey; 
    background-color: grey; 
    width: 6px; 
    height: 6px; 
    border-radius: 50%; 
}



.rebaixados {
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 10px;
    text-align: center;
    color:red;
    font-size: 20px;
}

span.classificacao_l {
    display: inline-block; 
    color: black; 
    background-color:rgb(130, 0, 255); 
    width: 6px; 
    height: 6px; 
}

span.classificacao_p {
    display: inline-block; 
    color: black; 
    background-color: rgb(65, 255, 255); 
    width: 6px; 
    height: 6px; 
}

span.classificacao_s {
    display: inline-block; 
    color: black; 
    background-color:rgb(0, 128, 64); 
    width: 6px; 
    height: 6px; 
}

span.classificacao_m {
    display: inline-block; 
    color: black; 
    background-color:rgb(179, 153, 153); 
    width: 6px; 
    height: 6px; 
}

span.classificacao_r {
    display: inline-block; 
    color: black; 
    background-color: red; 
    width: 6px; 
    height: 6px; 
}

td.escudo {
    width: 25px;
    height: 25px;
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: center;
    z-index: 1; 
    font-size: 30px;
}

@media (max-width: 600px) {
    .content {
        font-size: 6vw;
    }
}

button {
    padding: 10px 20px;
    background-color: rgb(197, 235, 214); 
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #ff6347; 
    color: white;
}




@media (max-width: 768px) {
    div.home {
        background-size: contain; 
        padding: 10px;
    }
}

.content-section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9; 
  }

.content-item {
flex: 1 1 calc(33.33% - 20px); 
background-color: #fff;
padding: 15px;
border: 1px solid #ddd;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
text-align: center;
transition: transform 0.3s ease;
}

td.barra {
    margin: 0;
    padding: 0;
}

main.content {
    background-color: none;
}
header.home {
    background-color: none;
}

img.noticias {
    width: 300px;
    height: 200px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
}

a.saibamais {
    padding: 10px 20px;
    background-color: rgb(197, 235, 214);
    border: none;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

a.saibamais:hover {
    background-color: #ff6347; 
    color: white;
}

article:hover {
    background-color: #ff6347; 
    color: white;
}

img.escudo {
    width: 25px;
    height: 25px;
}

iframe.maps {
    border: 0;
    border-radius: 10px;
    height: 45vh;
    width: 61vw;
}

section.maps {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  input[type=reset] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color: #45a049;
  }
  
  article.home:hover {
    background-color: transparent;
}